<?xml version="1.0"?>
<launch>
    <arg name="appid"               default=""/>
    <arg name="confidence"          default="18"/> <!--语音识别结果自信度阈值，取值：0-100(voice recognition result confidence ranging from 0 to 100)-->
    <arg name="seconds_per_order"   default="15"/> <!--每次语音指令录音长度，单位：秒(recording length of each voice command in seconds)-->
    <arg name="chinese_awake_words" default=""/>
    <arg name="english_awake_words" default="hello hi wonder"/>
    <arg name="language"            default="$(env LANGUAGE)"/>

    <!--设置为功能包的路径(set as the path for function package)-->
    <arg name="package_path" default="$(find xf_mic_asr_offline)"/>

    <node pkg="xf_mic_asr_offline" type="call_recognition" name="call_recognition" output="screen">
        <param name="confidence"        value="$(arg confidence)"/>
        <param name="seconds_per_order" value="$(arg seconds_per_order)"/>
    </node>

    <node pkg="xf_mic_asr_offline" type="voice_control" name="xf_asr_offline_node" output="screen">
        <param name="appid"                                             value="$(arg appid)"/>
        <param name="confidence"                                        value="$(arg confidence)"/>
        <param name="seconds_per_order"                                 value="$(arg seconds_per_order)"/>
        <param name="source_path"                                       value="$(find xf_mic_asr_offline)"/>
        <param if="$(eval language == 'Chinese')" name="awake_words"    value="$(arg chinese_awake_words)"/>
        <param if="$(eval language == 'English')" name="awake_words"    value="$(arg english_awake_words)"/>
    </node>
</launch>
