<?xml version="1.0"?>
<launch>
    <arg name="depth_camera_name" default="camera"/>
    <node name="orb_slam2_rgbd" pkg="ORB_SLAM2" type="RGBD" output="screen" args="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt $(find ORB_SLAM2)/../../RGB-D/TUM1.yaml">
        <remap from="/camera/rgb/image_raw"                 to="/$(arg depth_camera_name)/rgb/image_raw" />
        <remap from="/camera/depth_registered/image_raw"    to="/$(arg depth_camera_name)/depth/image_raw" />
    </node>
</launch>
